


-# = edits an article (for appropriate resident)

// create message about checkout requests
// requests are in array (person)
// TODO can only check out to one person

- if @article.request_array
  - @article.request_array.each do |person|
    %p
      #{person} has requested #{@article.title}
      %br
      Do you want to accept the request and mark the item as checked-out?



%h2 Enter in the fields you want to change for #{@article.title}:

= form_for @article, :url => {:controller => 'articles', :action => 'update'} do |f|
  %p
    Current title: #{@article.title}
    %br
    = f.label 'New title'
    %br
    = f.text_field  :title
  %p
    Current description: #{@article.description}
    %br
    = f.label 'new description'
    %br
    = f.text_field  :description
  %p
    Current category listing: #{@article.form}
    %br
    = f.label 'new category'
    %br
    = f.text_field  :form
