-# = gives page to add a resident to a specific community
-# community_id should be sent through call to resident controller


%h1 Register a new member of the #{@commune.name} community:


%center
    %br
    %br

    = form_for @resident, :url => {:controller => 'residents', :action => 'create'} do |f|
        %p
            = f.label :name
            %br
            = f.text_field  :name

        %p
            = f.label :email
            %br
            = f.text_field  :email

        %p
            = f.label :phone
            %br
            = f.text_field  :phone

        %p
            = f.label :password
            %br
            = f.text_field  :password

        %p
            = f.label :password_confirmation
            %br
            = f.password_field :password_confirmation

        -# pass on the community
        = hidden_field_tag :community_id, @commune.id

        %p.button
            = f.submit 'Register'

-# = check for errors:

- if @resident.errors.any?
    %ul.errors
        -@resident.errors.full_messages.each do |msg|
            %li= msg
