
-# = shows a resident's articles

- [:notice, :notice2].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key]


%h2 Details for #{@person.name}:

%p
  belongs to: #{@commune.name}
  -if @person.email
    %br
    email: #{@person.email}
  -if !@person.phone.empty?
    %br
    phone: #{@person.phone}




%table#resident
  %thead
    %tr
      %th Items available
      %th Description
      %th Category
      %th Status

  %tbody
    - @person.articles.each do |article|
      %tr
        -if article.resident_id = @person.id
          %td= link_to article.title, edit_article_path(article)
        -else
          %td= link_to article.title, article_path(article)
        %td= article.description
        %td= article.form
        %td= article.available ? "available" : "checked out"


Click on an article to change its status or
= link_to 'Add new article', new_article_path(@person)

%br
%br

Or return to the
= link_to 'community', community_path(@commune)
page.
