-# = gives page to add, view, edit a community


%h1 Welcome to Communities on Rails!

%center
    %txt Enter the name of the community to which you belong and the password:
    %br
    %br

    = form_tag communities_path do
        = label :commune, :name, 'Community name'
        = text_field :commune, :name
        = password_field :password_2, 'Password'

        %br
        = submit_tag 'Submit'

%center Or = link_to login, login_path
  as a resident of a community:


%center
    %txt Or you can search for your community:
    %br
    %br

%center
    %txt Or you can create a new community:
    %br
    %br

    =form_tag new_community_path, method: :get, id: 'create_button' do
        =submit_tag 'create community', id: 'creation', class: 'button_class'
