-# = gives page to add, view, edit a community


%h1 Welcome to Communities on Rails!

%center
    %txt Enter the name of the community to which you belong and the password:
    %br
    %br

    = form_for(@commune, url: show_commune_path(@commune), method: "get" ) do |f|
        = f.label :commune_name, 'Community name'
        = f.text_field :name
        = f.label :password
        = f.password_field :password, class: 'form-control'

        %br
        = f.submit "Submit", class: "btn btn-primary"



%center
    %txt
        Or
        =link_to("login", login_path)
        as a resident of a community:


%center
    %txt Or you can search for your community:
    %br
    %br

%center
    %txt Or you can create a new community:
    %br
    %br

    =form_tag new_community_path, method: :get, id: 'create_button' do
        =submit_tag 'create community', id: 'creation', class: 'button_class'
