-# = gives page to add, view, edit a community


%h1 Welcome to Communities on Rails!

%center
    %txt Enter the name of the community to which you belong and the password:
    %br
    %br

    = form_tag communities_path do
        = label :commune, :name, 'Community name'
        = text_field :commune, :name
        = password_field :password, 'Password'

        %br
        = submit_tag 'Submit'
    
%center
    %txt Or you can search for your community:
    %br
    %br

%center
    %txt Or you can create a new community:
    %br
    %br

    = form_for :commune, :url => {:controller => 'communities', :action => 'create'} do |f|
        %p
            = f.label :name
            %br
            = f.text_field  :name
        
        %p 
            = f.label :password
            %br
            = f.text_field  :login_pwd
        
        %p
            = f.label :password_confirmation
            %br
            = f.password_field :password_confirmation
        
        %p.button
            = f.submit 'Create Community'

-# = check for errors:

- if @commune.errors.any?
    %ul.errors
        -@commune.errors.full_messages.each do |msg|
            %li= msg