
-# = shows a community

- [:notice, :notice2].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key]

%h2 Details for #{@commune.name}:

%br
%br
%h3 The following residents are registered at #{@commune.name}:
- @commune.residents.each do |resident|
  %td= link_to resident.name, resident_path(resident) 
  %tr

%br
%br
%table#commune
  %thead
    %tr
      %th Items available
      %th Category
      %th Owner
      %th Status

  %tbody
    - @commune.residents.each do |resident|
      - resident.articles.each do |article|
        %tr
          -if @current_resident == resident
            %td link_to article.title, edit_article_path(article)
          -else
            %td= link_to article.title, article_path(article)
          %td= article.form
          %td= resident.name
          %td= article.available? ? "available" : "checked out"



= link_to 'Add new resident', new_resident_path(@commune)

%br
%br

Or click on an item to view details or check out an item.
