
-# = shows a community

- [:notice, :notice2].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key]

%h2 Details for #{@commune.name}:




%table#commune
  %thead
    %tr
      %th Items available
      %th Category
      %th Owner
      %th Status

  %tbody
    - @commune.residents.each do |resident|
      - resident.articles.each do |article|
        %tr
          %td= article.description
          %td= article.form
          %td= resident
          %td= article.status



= link_to 'Add new resident', new_resident_path(@commune)    
